<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	executionOrder="depends,defects"
	beStrictAboutOutputDuringTests="true"
	failOnRisky="true"
	failOnWarning="true"
	convertDeprecationsToExceptions="true"
	cacheResult="false">
	<testsuites>
		<testsuite name="wp-search-unit">
			<file>tests/unit/REST_Controller_Tests.php</file>
			<file>tests/unit/Settings_Indexer_Tests.php</file>
			<file>tests/unit/Users_Indexer_Tests.php</file>
			<file>tests/unit/Posts_Indexer_Tests.php</file>
			<file>tests/unit/Plugins_Indexer_Tests.php</file>
			<file>tests/unit/Menus_Indexer_Tests.php</file>
		</testsuite>
	</testsuites>
</phpunit>
